@using WebApp.Models
@model IEnumerable<Offer>

@{
    ViewData["Title"] = "Index";
    ViewData["Categories"] = Html.GetEnumSelectList<Category>();
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Offer Marketplace</h1>
    <p>Please take a look at the offers listed below</p>
</div>

<h3>
    Filters:
</h3>
<hr/>
<h4>
    Categories:
</h4>
<dl class="row py-2">
@foreach (var category in Html.GetEnumSelectList<Category>())
    {
        <a asp-action="Marketplace" asp-route-filterCategory="@category.Value">@category.Text</a>
    }
    <a asp-action="Marketplace" asp-route-filterCategory="">--- Clear category filter</a>
</dl>

<h4>
    Search:
</h4>
<div>
    <form asp-action="Marketplace" method="get"  style="display:inline">
        <input name="searchString" value="@ViewData["searchString"]" class="form-control" />
        <input type="submit" value="Search" class="btn btn-primary" style="margin-top:10px" />
    </form>
    <form asp-action="Marketplace" method="get" style="display:inline">
        <input name="searchString" value="" class="form-control" hidden />
        <input type="submit" value="Clear" class="btn btn-secondary" style="margin-top:10px"/>
    </form>
</div>
<hr/>
<div class="container">
    @foreach (var offer in Model)
    {
        <div class="row border-bottom py-4">
            <div class="row">
                <div class="col-md-3">
                    <div class="row justify-content-center">
                        @if (offer.Photos == null || offer.Photos.Count() == 0)
                        {
                            <img src="@Consts.BlankImagePath" class="img-sm"/>
                        }
                        else
                        {
                            <img src="/@offer.Photos[0].FileAddress" class="img-sm"/>
                        }
                    </div>
                    <div class="row">
                        <a style="text-align: center" asp-controller="Photos" asp-action="List" asp-route-id="@offer.Id">View other photos</a>
                    </div>
                </div>
                <div class="col-md-1">
                    Description:
                </div>
                <div class="col-md-8">
                    @offer.Description
                </div>
            </div>
            <div class="row">
                <div class="row justify-content-end">
                    <span style="width: auto">Valid until: <span style="font-weight: bold">@Html.DisplayFor(m => offer.VoidDate)</span></span>
                </div>
                <div class="row justify-content-end">
                    <span style="width: auto">Retrieval address: <span style="font-weight: bold">@Html.DisplayFor(m => offer.RetrievalAddress)</span></span>
                </div>
            </div>
        </div>
    }
</div>