@using System.Security.Claims
@using WebApp.Models
@model IEnumerable<Offer>

@{
    ViewData["Title"] = "Index";
    ViewData["Categories"] = Html.GetEnumSelectList<Category>();
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Offer Marketplace</h1>
    <p>Please take a look at the offers listed below</p>
</div>

<h3>
    Filters:
</h3>
<hr/>
<h4>
    Categories:
</h4>
<dl class="row py-2">
@foreach (var category in Html.GetEnumSelectList<Category>())
    {
        <a asp-action="Marketplace" asp-route-filterCategory="@category.Value">@category.Text</a>
    }
    <a asp-action="Marketplace" asp-route-filterCategory="">--- Clear category filter</a>
</dl>

<h4>
    Search:
</h4>
<div>
    <form asp-action="Marketplace" method="get"  style="display:inline">
        <input name="searchString" value="@ViewData["searchString"]" class="form-control" />
        <input type="submit" value="Search" class="btn btn-primary" style="margin-top:10px" />
    </form>
    <form asp-action="Marketplace" method="get" style="display:inline">
        <input name="searchString" value="" class="form-control" hidden />
        <input type="submit" value="Clear" class="btn btn-secondary" style="margin-top:10px"/>
    </form>
</div>
<hr/>
<div class="container">
    @foreach (var offer in Model)
    {
        <div class="row border-bottom py-4" style="text-align:center; @(isOfferReserved(offer) ? "background-color:#FEFFC3" : "")">
            @if (isOfferReserved(offer))
            {
                <div style="font-weight:bold">
                    OFFER IS RESERVED
                </div>
            }
            <div class="row">
                <div class="col-md-3">
                    <div class="row justify-content-center">
                        @if (offer.Photos == null || offer.Photos.Count() == 0)
                        {
                            <img src="@Consts.BlankImagePath" class="img-sm"/>
                        }
                        else
                        {
                            <img src="/@offer.Photos[0].FileAddress" class="img-sm"/>
                        }
                    </div>
                    <div class="row">
                        <a style="text-align: center" asp-controller="Photos" asp-action="List" asp-route-id="@offer.Id">View other photos</a>
                    </div>
                </div>
                <div class="col-md-1">
                    Description:
                </div>
                <div class="col-md-8">
                    @offer.Description
                </div>
            </div>
            <div class="row">
                <div class="row justify-content-end">
                    <span style="width: auto">Valid until: <span style="font-weight: bold">@Html.DisplayFor(m => offer.VoidDate)</span></span>
                </div>
                <div class="row justify-content-end">
                    <span style="width: auto">Retrieval address: <span style="font-weight: bold">@Html.DisplayFor(m => offer.RetrievalAddress)</span></span>
                </div>
                @if (isAuthenticated() && !isOfferMine(offer))
                {
                        if (isUserInterested(offer))
                        {
                            <div class="row justify-content-end">
                                <form asp-action="ToggleOfferInterest" method="post" style="display:inline; width:auto">
                                    <input name="offerId" value="@offer.Id" hidden />
                                    <input type="submit" value="Deny interest in offer" class="btn btn-danger"/>
                                </form>
                            </div>
                        } else
                        {
                            <div class="row justify-content-end">
                                <form asp-action="ToggleOfferInterest" method="post" style="display:inline; width:auto">
                                    <input name="offerId" value="@offer.Id" hidden />
                                    <input type="submit" value="Declare interest in offer" class="btn btn-primary"/>
                                </form>
                            </div>
                        }
                }
            </div>
        </div>
    }
</div>

@functions
{
    bool isAuthenticated()
    {
        Claim user = User.FindFirst(ClaimTypes.NameIdentifier);
        return user != null;
    }

    bool isUserInterested(Offer offer)
    {
        Claim user = User.FindFirst(ClaimTypes.NameIdentifier);
        if (user == null || offer.InterestedUsers == null)
            return false;

        string userId = user.Value;
        return offer.InterestedUsers.Exists(iu => iu.UserId == userId);
    }

    bool isOfferReserved(Offer offer)
    {
        if (offer.InterestedUsers.Count() == 0)
            return false;
        if (offer.InterestedUsers.Exists(iu => iu.ReservedForUser))
            return true;
        return false;
    }

    bool isOfferMine(Offer offer)
    {
        Claim user = User.FindFirst(ClaimTypes.NameIdentifier);
        if (user == null)
            return false;
        if (offer.UserId != user.Value)
            return false;
        return true;
    }
}